@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
    font: bold;
    font-family: 'Segoe UI';
    font-display: auto;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    zoom: auto;
}

#wrapper {
    background-color: blanchedalmond
}

socialmedias {
    text-align: right;
    margin: auto;
    display: block;
}

.msep {
    white-space: pre-wrap;
}

header {
    position: relative;
}

header nav {
    top: 15%;
    left: 5%;
}

header nav a {
    font-family: "Open Sans", sans-serif;
    font: bold;
    color:brown;
    padding: 15px;
}

header nav a:hover {
    color:crimson;
}